body {
background-color: #f2f927
}
H1 {
  color: #0b3ced;
  font-size: 35px;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}

H2{
    color: red;
    font-size: 21px;
    margin-left: 60px;
}

H3{
    color: #5a5b5a:
    font-size: 50px}