<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page About Me</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<img id="aboutme-pic" src="static/taras-struk-photo.jpg" alt="Taras Struk picture">
            <p> Hello, my name is Taras Struk. I graduated a Master Program in "Economics. Strategy of Innovations" in 2011. Since then, I have created several projects. But now I decide to change my style of life and learn to creat software. I want to get
                job in a big IT company. And that's make me feel very excited. On this site you will find my IT skills that I've already learned and my first game created on Python.</p>

<a href="{{url_for('main')}}">Back to main page</a>
</body>
</html>