<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<H3>
    <br>Флексагоны (от англ. to flex, лат. flectere — складываться, сгибаться, гнуться и греч. ωνος — угольник) — плоские<br>
    <br>модели из полосок бумаги, способные складываться и сгибаться определённым образом. При складывании флексагона <br>
    <br>становятся видны поверхности, которые ранее были скрыты в конструкции флексагона, а прежде видимые поверхности уходят<br>
    <br>внутрь.<br>
</H3>
</body>
</html>