<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viktor Page</title>
	<style>
	</style>
  <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>

<body >

	<header>

		<a href="{{url_for('home')}}" title="home" >HOME</a>
		<a href="{{url_for('login')}}" title="skills">SKILLS</a>
		<a href="{{url_for('about')}}" title="about game">ABOUT GAME</a>

	</header>

	<div style="text-align:center;">

		<h1 style=" color: white;">
			ABOUT GAME
		</h1>
	</div>
<table >
		<tr >
	<td style="width: 65%;">

		<h2> ABOUT GAME</h2>

			<p>Думаю тут буде мега игруха</p> напевно<br>

	</td>

	<td style="width: 30% padding:6px; vertical-align: 0px;">

        <h2>Photo of game</h2>

        <br>

	</td>
		</tr>

	<td colspan= "2" style="background-color: yellow;  cover:100%; padding: 5px; top: 200px; ">



		<h3 >
			POWER WITH FLASK
		</h3>
		<div  style="font-size: 10px;">

			Desing by<div style="font-size: 14px;">Viktor Mytsa</div>

		</div>
</td>
</table>
</body>
</html>