<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viktor Page</title>
	<style>
	a:hover {background: #FFBF00;}
	</style>
    <link rel="stylesheet" type="text/css" href="url_for('static', filename='style.css')">

</head>

<body style="background-image: url(static/fon.png); max-width: 990px; margin: auto;" vlink="#cecece" alink="#ff0000" bgcolor="black">

	<header style="background-color: yellow; margin-top: 1%;  cover:100%; font-size: 18px; word-spacing: 15px; text-align:center; position: relative; padding: 10px;">

		<a href="{{url_for('home')}}" title="home" style="text-decoration: none;   color: #000; ">HOME</a>
		<a href="{{url_for('login')}}" title="login"style="text-decoration: none;  color: #000; word-spacing: 1px">2 PAGE</a>
		<a href="{{url_for('about')}}" title="about"style="text-decoration: none;  color: #000; word-spacing: 1px">ABOUT GAME</a>

	</header>

	<div style="text-align:center;">

		<h1 style=" color: white;">
			HOME PAGE
		</h1>
	</div>
<table >
		<tr style="background-color: white; text-align:left; color:black; font-size: 14px;">
	<td style="width: 65%; padding:10px; ">

		<h2> Main content</h2>

			<p>Expedition 53 Commander Randy Bresnik and Flight Engineer Joe Acaba of NASA completed a 6 hour,
			49 minute spacewalk at 2:36 p.m. EDT.</p> The two astronauts installed a new camera system on
			the Canadarm2 robotic arm’s latching end effector, an HD camera on the starboard truss of
			the station and replaced a fuse on the Dextre robotic arm extension.<br>

			<p>The duo worked quickly and were able to complete several “get ahead” tasks.
			Acaba greased the new end effector on the robotic arm.</p>  Bresnik installed a new
			radiator grapple bar. Bresnik completed prep work for one of two spare pump modules
			on separate stowage platforms to enable easier access for potential robotic replacement
			tasks in the future. He nearly finished prep work on the second, but that work will be
			completed by future spacewalkers.<br>

			<p>This was the fifth spacewalk of Bresnik’s career (32 hours total spacewalking)
			and the third for Acaba (19 hours and 46 minutes total spacewalking).</p>  Space
			station crew members have conducted 205 spacewalks in support of assembly and
			maintenance of the orbiting laboratory. Spacewalkers have now spent a total of 53 days,
			6 hours and 25 minutes working outside the station.<br>

	</td>

	<td style="width: 30% padding:6px; vertical-align: 0px;">

		<h2> right area</h2>
			<p>This was the fifth spacewalk of Bresnik’s career (32 hours total spacewalking)
			and the third for Acaba (19 hours and 46 minutes total spacewalking).</p>  Space
			station crew members have conducted 205 spacewalks in support of assembly and
			maintenance of the orbiting laboratory. Spacewalkers have now spent a total of 53 days,
			6 hours and 25 minutes working outside the station.<br>

	</td>
		</tr>

	<td colspan= "2" style="background-color: yellow;  cover:100%; padding: 5px; top: 200px; ">



		<h3 style="text-align: center; color: black;">
			POWER WITH FLASK
		</h3>
		<div  style="font-size: 10px;">

			Desing by<div style="font-size: 14px;">Viktor Mytsa</div>

		</div>
</td>
</table>
</body>
</html>