<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Viktor Page</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body >

	<header >
		<a href="{{url_for('home')}}" title="home" >HOME</a>
		<a href="{{url_for('login')}}" title="skills">SKILLS</a>
		<a href="{{url_for('about')}}" title="about game">ABOUT GAME</a>
	</header>

        <h1 >HOME PAGE</h1>

            <table>
                    <tbody>
                <tr>

                    <td style="width: 65%;">
                      <h2>About me</h2>
                                    Birthday: 10 July 1986<br>
                                    From Mykolayiv<br>
                                    Married since 15 November 2008, has son 2 years old<br>
                          <ul>
                            <li>Work experience: &nbsp;&nbsp;</li>
                          </ul>

                                    Chief Technician at Commercial Vehicle Group, Inc.<br>


                                     <p>Past: &nbsp;Chervonograd gimnasium</p>



                          <ul>
                            <li>Studied:</li>
                          </ul>


                          <ol start="1">
                            <li>&nbsp; &nbsp; &nbsp; &nbsp;Physology at NU "Lviv Polytechnic"</li>
                            <li>&nbsp; &nbsp; &nbsp; &nbsp;Ivan Franko National University of Lviv</li>
                            <li>&nbsp; &nbsp; &nbsp; &nbsp;Mykolaiv Polytechnic Institute</li>
                          </ol>
                                    Contact with me:<br>
                            <img style="width: 16px; height: 16px;" alt="phone" src="../static/con_mobile.png">

                                Phones: 097 933 4861<br>
                                &nbsp; &nbsp;naxa..(Skype)<br>
                                &nbsp; &nbsp;e-mail: viktor<big><span style="font-weight: bold;">.</span></big>mytsa@gmail.com
                    </td>


                    <td style="vertical-align: 0px;">



                          <h2> Photo</h2>


                          <div style="text-align: center;"><img style="width: 70%; height: 70%;" src="../static/Viktor.jpg" alt="Viktor Mytsa"> <br></div>
                    </td>
                </tr>


                <tr>
                      <td colspan="2" style="padding: 5px; background-color: yellow; top: 200px;">
                          <h3>POWER WITH FLASK  </h3>

                          <div style="font-size: 10px;">Desing by</div>
                          <div style="font-size: 14px;">Viktor Mytsa</div>
                      </td>

                </tr>
              </tbody>
        </table>

</body>
</html>
