<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Viktor Page</title>

  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>


<body>


	<header>
		<a href="{{url_for('home')}}" title="home" >HOME</a>
		<a href="{{url_for('login')}}" title="skills">SKILLS</a>
		<a href="{{url_for('about')}}" title="about game">ABOUT GAME</a>
	</header>
	

		
<h1>
			SKILLS
		</h1>



<table >

		<tbody>
    <tr>

	<td style="width: 65%;">

		
      <h2> SKILLS</h2>


			
      <ol>
        <li>
          &nbsp;<img style="width: 20px; height: 20px;" alt="python_photo" src="../static/Python.png">Python</li>
        <li><img style="width: 20px; height: 20px;" alt="html" src="../static/HTML5.png" align="top">HTML</li>
        <li><img style="width: 20px; height: 20px;" alt="css" src=".../static/CSS3.png">CSS</li>
        <li>PyGame(in process)</li>
        <li>FLASK(in process)</li>
      </ol>
 In future:<br>
      <br>
      <ul>
        <li>SQL</li>
        <li>JavaScript</li>
        <li>Django</li>
      </ul>
      <br>


	</td>


	<td style="vertical-align: 0px;">

		
      <h2> Please LogIn</h2>

			
      <p></p>
      <form method="post">
            <p><input type=text name=username>
            <p><input type=submit value=Login>
        </form>
        <br>




      </td>

		</tr>


	<tr>
      <td colspan="2" style="padding: 5px; background-color: yellow; top: 200px;">



		
      <h3>
			POWER WITH FLASK
		</h3>

		
      <div style="font-size: 10px;">

			Desing by
      <div style="font-size: 14px;">Viktor Mytsa</div>


		</div>

      </td>

    </tr>
  </tbody>
</table>

</body>
</html>
